<li>
	{{name}}

	<button class="change-eatin" data-id="{{id}}" data-neweatin="{{eatin}}">
		{{#if eatin}}EAT ME!
        {{!-- {{else}}WAKE UP! --}}
        {{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
